<!-- this blog heading/title/image page its working but not connect with website    -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My BLog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <div class="blogpage">
        <div class="blogheading">
            <img src="/images/2.jpg" alt="">
        </div>


        <div class="blogsection ">
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, ex.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

            <div class="blogcontent ">

                <!-- first blog heading -->

                <div class="bgcontent component">
                    <img src="/images/road-g0a0228527_1920.jpg" alt="">
                    <div class="title  ">
                        <h5>time and date </h5>
                        <h3>title here : Lorem, ipsum dolor.</h3>

                        <a href="">add link of our blog page </a>
                    </div>
                </div>


                <!-- Secoond blog heading -->

                <div class="bgcontent component"> <img src="/images/mountains-g8fbbcb24c_1280.jpg" alt="">
                    <div class="title">
                        <h5>time and date </h5>

                        <h3>title here : Lorem, ipsum dolor.</h3>

                        <a href="">add link of our blog page </a>
                    </div>
                </div>


                <!-- third blog heading -->

                <div class="bgcontent component"> <img src="/images/ocean-3605547__480.jpg" alt="">
                    <div class="title">
                        <h5>time and date </h5>

                        <h3>title here : Lorem, ipsum dolor.</h3>

                        <a href="">add link of our blog page </a>
                    </div>
                </div>



            </div>

        </div>

    </div>
</body>

</html>