<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section</title>
    
 <!-- style css not important for apply already apply in index  -->
    <!-- <link rel="stylesheet" href="/style.css">-->

</head>

<body>
    <!-- sections of my webiste work titles -->
    <div class="dynamicContent">

        <!-- heading Recommended section -->

        <h4>Recommended Section</h3>

            <!-- create container  -->
            <div class="container2">



                <!-- main box  -->
                <div class="mainbox">
                    <!-- content in box  -->
                    <div class="box">
                        <img src="/images/cat-gffb2f9ea8_1920.jpg" alt="">
                        <div class="text">
                            <span>Lorem, ipsum dolor.</span>
                            <h3>click to continue</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos dolorum quidem beatae
                                laborum.</p>
                            <button class="myworkbtn">click here </button>
                        </div>
                    </div>
                </div>


                <!-- main box  -->
                <div class="mainbox">
                    <!-- content in box  -->
                    <div class="box">
                        <img src="/images/cat-gffb2f9ea8_1920.jpg" alt="">
                        <div class="text">
                            <span>Lorem, ipsum dolor.</span>
                            <h3>click to continue</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos dolorum quidem beatae
                                laborum.</p>
                            <button class="myworkbtn">click here </button>
                        </div>
                    </div>
                </div>


                <!-- main box  -->
                <div class="mainbox">
                    <!-- content in box  -->
                    <div class="box">
                        <img src="/images/cat-gffb2f9ea8_1920.jpg" alt="">
                        <div class="text">
                            <span>Lorem, ipsum dolor.</span>
                            <h3>click to continue</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos dolorum quidem beatae
                                laborum.</p>
                            <button class="myworkbtn">click here </button>
                        </div>
                    </div>
                </div>

            </div>

    </div>

</body>

</html>