<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work With Me</title>

    <!-- style css not important for apply already apply in index  -->
    <!-- <link rel="stylesheet" href="/style.css">-->

</head>
<body>

    <!-- main div of page  -->
    <div class="work">


        <!-- title of page  -->
        <div class="withwithus1">
            <h4>Are You Hiring Me</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, repellendus. Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Molestias maiores possimus accusamus magnam tempore fuga esse molestiae ad
                suscipit tenetur?</p>
        </div>

        <!-- form fill section  -->
        <div class="withwithus2">

            <!-- create form  -->
            <form class="applyform" action="">
                <span>Pakistan Only</span>
                <h3>Apply Now!</h3>
                <label for="">Name</label>
                <input type="text" name="type" id="">
                <label for="">number</label>
                <input type="text" name="type" id="">
                <label for="">adress</label>
                <input type="text" name="type" id="">
                <label for="">age</label>
                <input type="text" name="type" id="">
                <label for="">anything</label>
                <input type="text" name="type" id="">
                <label for="">Skill:</label>

                <!-- type radio div  -->
                <div class="radio">
                    <input type="radio" name="skill">
                    <label for="">Skill</label>
                    <input type="radio" name="skill">
                    <label for="">Skill</label>
                    <input type="radio" name="skill">
                    <label for="">Skill</label>
                </div>

                <!-- button for submit with span  -->
                <Button class="submitbtn">Submit</Button>
                <span>We will be in touch soon!</span>

            </form>
        </div>

    </div>

</body>

</html>